---
installCRDs: false
replicaCount: 1

resources:
  limits: # Don't limit the CPU
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 192Mi

podDisruptionBudget:
  enabled: true
  minAvailable: 1

serviceMonitor:
  enabled: true
