# Ignore Taskfile, Trivy, and Terraform processing directories
.task/*
**/.terraform/*
.trivy/*

# Ignore extremely large Kubernetes manifests which provide the Custom Resource
# Definitions for many of the deployed services (they can each take ~1s to run)
flux/*-crds/resources.yaml

# Ignore the Prettier cache file
.prettiercache

# Ignore the Pull Request template file as this is not a complete document, just
# a partial document for inclusion by GitHub
.github/PULL_REQUEST_TEMPLATE.md
