---
# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/main/monitoring.coreos.com/prometheusrule_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: general
  namespace: prometheus-metrics
  labels:
    alertmanager: metrics
spec:
  groups:
    - name: alerting-times.rules
      rules:
        - record: is_british_summer_time
          expr: |-
            ( vector(1)
              and (     month() > 3
                    and month() < 10
                  )
            )
            or
            ( vector(1)
              and (     month() == 3
                    and (day_of_month() - day_of_week()) >= 25)
                    and absent(     (day_of_month() >= 25)
                                and (day_of_week() == 0)
                              )
            )
            or
            ( vector(1)
              and ( month() == 10
                    and (day_of_month() - day_of_week()) < 25
                  )
              and absent(     (day_of_month() >= 25)
                          and (day_of_week() == 0)
                        )
            )
            or
            ( vector(1)
              and (    (month() == 10 and hour() < 1)
                    or ( month() == 3
                         and hour() > 0
                       )
                  ) and (     (day_of_month() >= 25)
                          and (day_of_week() == 0)
                        )
            )
            or
            vector(0)
        - record: europe_london_time
          expr: time() + 3600 * is_british_summer_time
        - record: europe_london_hour
          expr: hour(europe_london_time)
        - record: europe_london_day_of_week
          expr: day_of_week(europe_london_time)

    - name: alerting-times
      rules:
        - alert: OutsideWorkingHours
          expr: |-
            europe_london_day_of_week == 0 or
            europe_london_day_of_week == 6 or
            europe_london_hour < 9 or
            europe_london_hour >= 17
          annotations:
            title: Outside Working Hours
            summary: >-
              The current locale is outside of normal working hours (i.e between 09:00 to 16:59
              during Monday to Friday), allowing the muting of alerts which should only trigger
              during working hours.
          labels:
            ignore: always
            severity: none

        - alert: OutsideNonWorkingHours
          expr: |-
            ( ( europe_london_day_of_week >= 1 and
                europe_london_day_of_week <= 5 ) and
              ( europe_london_hour < 17 or
                europe_london_hour >= 22 )
            ) or (
              ( europe_london_day_of_week == 0 or
                europe_london_day_of_week == 6 ) and
              ( europe_london_hour < 10 or
                europe_london_hour >= 22 )
            )
          annotations:
            title: Outside Non-Working Hours
            summary: >-
              The current locale is outside of non-working hours (i.e between 17:00 to 21:59 during
              Monday to Friday, or between 10:00 and 21:59 on Saturday or Sunday), allowing the
              muting of alerts which should only trigger during non-work hours.
          labels:
            ignore: always
            severity: none

        - alert: OutsideExtendedHours
          expr: |-
            europe_london_hour < 10 or
            europe_london_hour >= 22
          annotations:
            title: Outside Extended Hours
            summary: >-
              The current locale is outside of extended hours (i.e between 10:00 to 21:59, any day
              of the week), allowing the muting of alerts which should only trigger during extended
              hours.
          labels:
            ignore: always
            severity: none

        - alert: OutsideWeekendHours
          expr: |-
            ( europe_london_day_of_week >= 1 and
              europe_london_day_of_week <= 5 ) or
            ( europe_london_hour < 10 or
              europe_london_hour >= 22 )
          annotations:
            title: Outside Weekend Hours
            summary: >-
              The current locale is outside of daytime weekend hours (i.e. Saturday or Sunday,
              between 10:00 and 21:59), allowing the muting of alerts which should only trigger
              during weekend hours.
          labels:
            ignore: always
            severity: none
