---
# Until centralised database is configured for Grafana, only a single replicate
# can be created as state is managed through a persistent volume
replicas: 1

podDisruptionBudget:
  minAvailable: 0

deploymentStrategy:
  type: RollingUpdate
  maxUnavilable: 1

serviceMonitor:
  enabled: true

ingress:
  enabled: false

admin:
  existingSecret: grafana-admin
  userKey: username
  passwordKey: password

useStatefulSet: true
persistence:
  enabled: true
  storageClassName: proxmox-rbd-ext4

imageRenderer:
  deploymentStrategy:
    type: RollingUpdate
    maxUnavailable: 1
  enabled: true
  replicas: 1
  serviceMonitor:
    enabled: true
    path: /metrics

grafana.ini:
  server:
    root_url: https://grafana.${cluster_domain}
  feature_toggles:
    # Git Sync for Dashboards
    provisioning: true
    kubernetesClientDashboardsFolders: true
    kubernetesDashboards: true
    # Dynamic Dashboards
    dashboardNewLayouts: true
    # Blazing-fast Table Panel
    tableNextGen: true
