---
# Enfoce an override on all naming to allow concurrent external-dns services to
# operate within the same namespace, allowing DNS records to be managed
# centrally for multiple providers, as needed
nameOverride: cloudflare

serviceAccount:
  create: true
serviceMonitor:
  enabled: true

# Add a dedicated label to identify all resources created for the external-dns
# cloudflare instance so that we can manage anti-affinity rules for the Pods to
# ensure all the different external-dns instances don't end up on the same node
commonLabels:
  app.kubernetes.io/part-of: external-dns

podAntiAffinity:
  preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
            - key: app.kubernetes.io/part-of
              operator: In
              values:
                - external-dns
        topologyKey: topology.kubernetes.io/node

resources:
  limits: # Don't limit the CPU
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi

provider:
  name: cloudflare
domainFilters:
  - kub3.uk
  - pip3.uk
  - t3st.uk
  - sit3.uk
  - liv3.uk

interval: 3m
triggerLoopOnEvent: true
policy: sync
sources:
  - ingress
  - service

registry: txt
txtOwnerId: ${cluster}/cloudflare
txtPrefix: _%{record_type}.

logLevel: info
logFormat: json

env:
  - name: CF_API_TOKEN
    value: file:/etc/cloudflare/api-token
extraVolumes:
  - name: cloudflare-token
    secret:
      secretName: cloudflare-token
extraVolumeMounts:
  - name: cloudflare-token
    mountPath: /etc/cloudflare
    readOnly: true
