---
# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://github.com/yannh/kubernetes-json-schema/raw/master/master/ingress-networking-v1.json
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: prometheus
  namespace: prometheus-metrics
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare-production
    # Use the source address as the selector of which Prometheus Pod to direct traffic to to limit
    # an subtle differences between instances affecting queries as each instance scrapes and saves
    # results at different times
    haproxy.org/load-balance: source
  labels:
    prometheus: metrics
spec:
  ingressClassName: haproxy-tailnet
  rules:
    - host: prometheus.${cluster_domain}
      http:
        paths:
          - pathType: ImplementationSpecific
            backend:
              service:
                name: prometheus
                port:
                  number: 9090
  tls:
    - hosts:
        - prometheus.${cluster_domain}
      secretName: ingress-prometheus-tls
