# Set up the (or summary) for the message to be provided to PagerDuty, which
# should use the summary of the Alert, where possible, not the full description,
# as this is used for the title of the event in PagerDuty
{{  define "pagerduty.n3tuk.summary" -}}
{{-   if .CommonAnnotations.summary -}}
{{-     .CommonAnnotations.summary | reReplaceAll "[`*]+" "" -}}
{{-   else -}}
No common summary is available for this event. See the individual descriptions for each alert for additional details, or review the original Alerts in {{ template "pagerduty.n3tuk.client" .}} ({{ template "pagerduty.n3tuk.client_url" .}}).
{{-   end -}}
{{- end }}

# Provide a list of full descriptions for all the Alerts currently firing or
# resolved within this event, to provide additional detail for each one over and
# above the summary and title (or Alert name) already provided
{{  define "pagerduty.n3tuk.firing" -}}
{{-   $commonSummary := false }}
{{-   if .CommonAnnotations.summary -}}
{{-     $commonSummary = true -}}
{{-   end -}}
{{-   if eq (len .Alerts.Firing) 0 -}}
(none)
{{-   else -}}
{{-     range .Alerts.Firing -}}
- {{      if not $commonSummary -}}{{ .Annotations.summary | reReplaceAll "[`*]+" "" }} ({{ end -}}
{{-       if .Annotations.description -}}
{{-         .Annotations.description | reReplaceAll "[`*]+" "" -}}
{{-       else -}}
This Alert has no description
{{-         if .Labels.pod }} for the Pod {{ .Labels.pod }}{{ end }}.
{{-       end -}}
{{-       if not $commonSummary -}}) {{ end -}}
{{-       print " " }}({{ .StartsAt | since | humanizeDuration }} ago)
{{      end -}}
{{-   end -}}
{{- end }}

{{  define "pagerduty.n3tuk.resolved" -}}
{{-   $commonSummary := false }}
{{-   if .CommonAnnotations.summary -}}
{{-     $commonSummary = true -}}
{{-   end -}}
{{-   if eq (len .Alerts.Resolved) 0 -}}
(none)
{{-   else -}}
{{-     range .Alerts.Resolved -}}
- {{      if not $commonSummary -}}{{ .Annotations.summary | reReplaceAll "[`*]+" "" }} ({{ end -}}
{{-       if .Annotations.description -}}
{{-         .Annotations.description | reReplaceAll "[`*]+" "" -}}
{{-       else -}}
This Alert has no description
{{-         if .Labels.pod }} for the Pod {{ .Labels.pod }}{{ end }}.
{{-       end -}}
{{-       if not $commonSummary -}}) {{ end -}}
{{-       print " " }}({{ .StartsAt | since | humanizeDuration }} ago)
{{      end -}}
{{-   end -}}
{{- end }}
