# Define the Slack Channel to send the Alert to based on the provided labels to
# either all of the alerts (if common), or the first Alert, if set
{{  define "slack.n3tuk.channel" }}
{{-   if ne .CommonLabels.slack "" -}}
{{-      print "#" .CommonLabels.slack -}}
{{-   else if ne (index .Alerts 0).Labels.slack "" -}}
{{-     print "#" (index .Alerts 0).Labels.slack -}}
{{-   else -}}
#alerts
{{-   end -}}
{{- end }}

# Configure the colour of the sidebar of the message provided to Slack, which
# mainly depends if the Alert is firing or not
{{  define "slack.n3tuk.color" -}}
{{-   if eq .Status "firing" -}}
{{-     if eq .CommonLabels.severity "critical" -}}
          danger
{{-     else if eq .CommonLabels.severity "warning" -}}
          warning
{{-     else -}}
          #439FE0
{{-     end -}}
{{-   else -}}
        good
{{-   end -}}
{{- end }}

# Provide a primary link which can be used either with the title of a message,
# or with the basic Slack message when the client cannot show formatted text
# (usually when the message as shown as a notification rather than within the
# application itself), and so prioritise the link to use based a number of on
# possible options
{{  define "slack.n3tuk.link" -}}
{{-   if .CommonAnnotations.link -}}
{{-     .CommonAnnotations.link -}}
{{-   else if .CommonAnnotations.dashboard -}}
{{-     .CommonAnnotations.dashboard -}}
{{-   else if .CommonAnnotations.runbook -}}
{{-     .CommonAnnotations.runbook -}}
{{-   else -}}
{{-     template "common.n3tuk.alertmanager_link" . -}}
{{-   end -}}
{{- end }}

# Provide the pre-text to send with the Slack message which provides information
# about the number of Alerts contained within this message
{{  define "slack.n3tuk.pretext" -}}
{{-   if and (gt (len .Firing) 0) (gt (len .Resolved) 0) -}}
Alertmanager is reporting *{{ len .Firing }}* alert{{ if ne (len .Firing) 1 }}s{{ end }} as firing, plus *{{ len .Resolved }}* alert{{ if ne (len .Resolved) 1 }}s{{ end }} as resolved.
{{-   else if gt (len .Firing) 0 -}}
Alertmanager is reporting *{{ len .Firing }}* alert{{ if ne (len .Firing) 1 }}s{{ end }} as firing.
{{-   else if gt (len .Resolved) 0 -}}
Alertmanager is reporting *{{ len .Resolved }}* alert{{ if ne (len .Resolved) 1 }}s{{ end }} as resolved.
{{-   end -}}
{{- end }}

# Provide the description (or message) to send with the Slack message on the
# Alert, and more specifically handle Alerts firing and resolving, as well as
# different descriptions for the Alerts, where configured.
{{  define "slack.n3tuk.text" -}}
{{-   $commonSummary := false -}}
{{-   if .CommonAnnotations.summary -}}
{{-     $commonSummary = true -}}
{{-     .CommonAnnotations.summary }}
{{-   end -}}
{{-   if gt (len .Alerts.Firing) 0 }}

*Firing*:
{{-     range .Alerts.Firing }}
- {{      if not $commonSummary -}}{{ .Annotations.summary }} ({{ end -}}
{{-       if .Annotations.description -}}
{{-         .Annotations.description -}}
{{-       else -}}
This `Alert` has no description
{{-         if .Labels.pod }} for the `Pod` `{{ .Labels.pod }}`{{ end }}.
{{-       end -}}
{{        if not $commonSummary -}}){{ end -}}
{{- print " " }}(_{{ .StartsAt | since | humanizeDuration }} ago_)
{{-     end }}
{{-   end }}
{{-   if gt (len .Alerts.Resolved) 0 }}

*Resolved*:
{{-     range .Alerts.Resolved }}
- {{      if not $commonSummary -}}{{ .Annotations.summary }} ({{ end -}}
{{-       if .Annotations.description -}}
{{-         .Annotations.description -}}
{{-       else -}}
This `Alert` has no description
{{-         if .Labels.pod }} for the `Pod` `{{ .Labels.pod }}`{{ end }}.
{{-       end -}}
{{        if not $commonSummary -}}){{ end -}}
{{- print " " }}(_{{ .EndsAt | since | humanizeDuration }} ago_)
{{-     end -}}
{{-   end }}
{{  end }}

# Provide the fallback message for Slack, which is often used for the
# notification of the message across devices
{{  define "slack.n3tuk.fallback" -}}
{{-   template "common.n3tuk.title" . }} ({{ .Status | title }})
{{    if .CommonAnnotations.summary -}}
{{-     .CommonAnnotations.summary -}}
{{-   else -}}
{{-     if and (gt (len .Firing) 0) (gt (len .Resolved) 0) -}}
Alertmanager is reporting *{{ len .Firing }}* alert{{ if ne (len .Firing) 1 }}s{{ end }} as firing, plus *{{ len .Resolved }}* alert{{ if ne (len .Resolved) 1 }}s{{ end }} as resolved.
{{-     else if gt (len .Firing) 0 -}}
Alertmanager is reporting *{{ len .Firing }}* alert{{ if ne (len .Firing) 1 }}s{{ end }} as firing.
{{-     else if gt (len .Resolved) 0 -}}
Alertmanager is reporting *{{ len .Resolved }}* alert{{ if ne (len .Resolved) 1 }}s{{ end }} as resolved.
{{-     end -}}
{{-   end -}}
{{- end }}

# Provide the footer of the message for Slack, which is normally used to provide
# useful contextual information
{{  define "slack.n3tuk.footer" -}}
This Alert was generated by Alertmanager {{ if .CommonLabels.prometheus -}}
and the {{ .CommonLabels.prometheus }} Prometheus instance {{ end -}}
on the {{ .GroupLabels.cluster }} Kubernetes cluster.
{{- end }}
