---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: podinfo
  namespace: flux-system

labels:
  - includeSelectors: false
    pairs:
      flux.kub3.uk/organisation: n3tuk
      flux.kub3.uk/repository: infra-flux
      flux.kub3.uk/kustomization: podinfo
      flux.kub3.uk/name: podinfo
      flux.kub3.uk/application: podinfo
      flux.kub3.uk/component: podinfo
      flux.kub3.uk/managed-by: kustomization

resources:
  - namespace.yaml
  - podinfo-helm.yaml
  - notifications.yaml
  - http-routes.yaml

configMapGenerator:
  - namespace: app-podinfo
    name: helm-podinfo-values
    files:
      - values.yaml=podinfo-values.yaml

configurations:
  - kustomize-config.yaml
