---
loadBalancerClass: metallb

controller:
  enabled: true
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  logLevel: info
  resources:
    limits: # Don't limit the CPU
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 32Mi

speaker:
  enabled: true
  # We won't put speakers on the controller nodes as normally they don't run
  # workloads which require LoadBalancers to be connected via BGP to the router
  tolerateMaster: false
  frr:
    enabled: true
    image:
      tag: 9.1.2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  logLevel: info
  resources:
    limits:
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 32Mi

crds:
  enabled: true
  validationFailurePolicy: Fail

prometheus:
  rbacPrometheus: false
  serviceMonitor:
    enabled: true
