---
name: Renovate

on:
  schedule:
    # Run every Friday at 18:00 Europe/London time (GMT used currently).
    # Time zones are not yet supported for scheduled events in GitHub Actions:
    #   https://github.com/orgs/community/discussions/13454
    - cron: 0 18 * * 5

  workflow_dispatch:
    inputs:
      dry_run:
        description: dry-run mode for Renovate
        required: false
        type: boolean
        default: false
      log_level:
        description: Logging level for Renovate
        required: false
        default: info
        type: choice
        options:
          - debug
          - info
          - warn
          - error

permissions:
  contents: write
  pull-requests: write
  issues: write

defaults:
  run:
    shell: bash --noprofile --norc -eo pipefail {0}

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Run Renovate
        uses: renovatebot/github-action@8cb0d4a6ab7d8bb90460a005f7bd33b80dd07ca8
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          LOG_LEVEL: ${{ inputs.log_level || 'info' }}
          RENOVATE_DRY_RUN: ${{ inputs.dry_run == 'true' && 'full' || '' }}
